* {
  box-sizing: border-box;
}

body { font-family: 'Ubuntu', sans-serif; }

p {
  font-size: 24px;
  font-weight: lighter;
  color: gray;
}

ul {
  list-style: none;
  padding: 0;
}

a:link {
  color: coral;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:visited {
  color: gray;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list-item {
  display: inline-block;
  margin: 0 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.info,
.image {
  outline: 2px dashed red;
}
